#button2{
  background-color: #ff4500;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 13px 226px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;

}

#fileButton{
  background-color: #ff4500;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;

}
