<div class="parent">
  <h2>Order <span>details</span></h2>

  <table class="table">
    <thead>
      <tr class="tr">
        <th>Product</th>
        <th>price</th>
        <th>Quan</th>
        <th>Date</th>
        <th>status</th>
        <th>total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <td>
          <p *ngFor="let orderDetail of order.orderItems" class="product">
            {{ orderDetail.title }}
          </p>
        </td>

        <td>
          <p *ngFor="let orderDetail of order.orderItems">
            {{ orderDetail.price }}
          </p>
        </td>
        <td>
          <p *ngFor="let orderDetail of order.orderItems" style="display: block">
            {{ orderDetail.quantity }}
          </p>
        </td>
        <!-- ///// -->
        <td>{{ order.dateOfOrder | date:"MM/dd" }}</td>
        <td [ngClass] = "{'active' : order.status === 'Accepted' , 'pending' : order.status === 'Pending' , 'cancled' :order.status === 'Canceled'} ">{{ order.status }}</td>
        <td>{{ order.totalPrice }}</td>
      </tr>
    </tbody>
  </table>



</div>
