<div class="container" *ngIf="!isLoading">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-xl-6 col-sm-3 col-12 boxdata" routerLink="/admin/products">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-xl-6 col-12">
          <p class="title mb-2">Products</p>
          <span style="font-size: 18px; color: #7f7f7f">{{
            dataLength.productsLength
          }}</span>
        </div>
        <div class="col-xl-3 col-12">
          <i class="fa-solid fa-laptop icon"></i>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-sm-3 col-12 boxdata" routerLink="/admin/users">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-xl-6 col-12">
          <p class="title mb-2">Users</p>
          <span style="font-size: 18px; color: #7f7f7f">{{
            dataLength.usersLength
          }}</span>
        </div>
        <div class="col-xl-3 col-12">
          <i class="fa-solid fa-user icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-xl-4 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item products headphone mt-4"
      *ngFor="let product of allProducts.slice(15, 18)"
    >
      <div class="product-o product-o--hover-on product-o--radius">
        <div class="product-o__wrap">
          <a class="aspect aspect--bg-grey aspect--square u-d-block">
            <img class="aspect__img" [src]="product.images[0]" alt="image"
          /></a>
          <div class="product-o__action-wrap">
            <ul class="product-o__action-list">
              <li>
                <a (click)="openEditProductPopup(product)"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a>
              </li>
              <li>
                <a><i class="fa-solid fa-trash"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <span class="product-o__category">{{
          product.category.nameCategory
        }}</span>

        <span class="product-o__name title">{{ product.title }}</span>
        <div class="product-o__rating gl-rating-style">
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star-half-alt"></i>

          <span class="product-o__review">(23)</span>
        </div>

        <span class="product-o__price"
          >EGP {{ product.price - product.price * (product.discount / 100) }}

          <span class="product-o__discount">{{ product.price }}</span></span
        >
      </div>
    </div>
  </div>
</div>

<div
  class="d-flex justify-content-around align-items-center mb-2"
  *ngIf="isLoading"
>
  <div class="p-4 bg-light rounded" style="width: 45%">
    <div>
      <ngx-skeleton-loader count="2" appearance="line"></ngx-skeleton-loader>
      <!-- <ngx-skeleton-loader
            appearance="line"
            class="px-5"
            [theme]="{
              width: '50px',
              height: '50px',
            }"
          ></ngx-skeleton-loader> -->
    </div>
  </div>
  <div class="p-4 bg-light rounded" style="width: 45%">
    <ngx-skeleton-loader count="2" appearance="line"></ngx-skeleton-loader>
  </div>
</div>

<div class="d-flex justify-content-evenly align-items-center" *ngIf="isLoading">
  <div class="p-2 bg-light rounded" style="width: 25%">
    <ngx-skeleton-loader
      appearance="circle"
      class="px-5"
      [theme]="{
        width: '100px',
        height: '100px',
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" appearance="line"></ngx-skeleton-loader>
  </div>

  <div class="p-2 bg-light rounded" style="width: 25%" *ngIf="isLoading">
    <ngx-skeleton-loader
      appearance="circle"
      class="px-5"
      [theme]="{
        width: '100px',
        height: '100px',
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" appearance="line"></ngx-skeleton-loader>
  </div>

  <div class="p-2 bg-light rounded" style="width: 25%" *ngIf="isLoading">
    <ngx-skeleton-loader
      appearance="circle"
      class="px-5"
      [theme]="{
        width: '100px',
        height: '100px',
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" appearance="line"></ngx-skeleton-loader>
  </div>
</div>
