<div class="container">
  <h4 class="d-flex justify-content-center p-2 display-6">
    Welcome to HERO TECH Store!
  </h4>
  <div class="d-flex justify-content-start">
    <span class="m-2"></span>
  </div>
  <p class="text-center p-2 lead fs-5">
    We are a team of five passionate individuals currently enrolled in an
    Information Technology Institute (ITI) program, embarking on an exciting
    journey to develop an e-commerce platform using Angular. This project not
    only serves as a hands-on learning experience but also an opportunity to
    apply our theoretical knowledge into practical implementation, thereby
    honing our skills and expertise in web development.
  </p>
  <div class="d-flex justify-content-end">
    <span class=""></span>
  </div>

  <div class="d-flex justify-content-center m-4 ">
    <button type="button" class="btnStyle" (click)="onClick()">Shop Now</button>
  </div>

  <!-- Team 1 - Bootstrap Brain Component -->
  <section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Our Team Members</h2>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
        </div>
      </div>
    </div>

    <div class="container overflow-hidden">
      <div class="row">
        <div class="col">
          <div class="card border-0 border-bottom border-dark shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy"
                  src="./../../../assets/WhatsApp Image 2024-03-24 at 10.00.37 PM.jpeg" alt="" />
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Esraa Ali <br />Zaki</h4>
                  <p class="text-secondary mb-0">Team Member</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0 border-bottom border-dark shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy"
                  src="./../../../assets/WhatsApp Image 2024-03-24 at 10.21.31 PM (1).jpeg" alt="" />
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Nadine Mohamed</h4>
                  <p class="text-secondary mb-0">Team Member</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0 border-bottom border-dark shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="./../../../assets/Untitled-1.png" alt="" />
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Waleed Almenawy</h4>
                  <p class="text-secondary mb-0">Team Leader</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0 border-bottom border-dark shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy"
                  src="./../../../assets/WhatsApp Image 2024-03-24 at 10.11.33 PM.jpeg" alt="" />
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Mariam Elmesery</h4>
                  <p class="text-secondary mb-0">Team Member</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0 border-bottom border-dark shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy"
                  src="./../../../assets/WhatsApp Image 2024-03-24 at 10.16.11 PM.jpeg" alt="" />
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Yasmeen <br />Waleed</h4>
                  <p class="text-secondary mb-0">Team Member</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
