
<div class="container" >
  <div class="row d-flex justify-content-between align-items-center mb-4">
    <div class="col-xl-6 col-sm-3 col-12">
      <form class="position-relative w-75">
        <label for="w-100 "></label>

        <input class="input-text input-text--border-radius input-text--style-1" type="search" id="main-search"
          placeholder="Search" #searchInput />

        <button class="btn btn--icon fas fa-search main-search-button" type="submit"></button>
      </form>
    </div>
    <div class="col-xl-3 col-sm-3 col-12" *ngIf="!isLoading">
      <button class="btn button" (click)="openAddProductPopup()">
        Add New Product
      </button>
    </div>
  </div>
  <div class="row mb-5" *ngIf="!isLoading">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 u-s-m-b-30 filter__item products headphone mt-4"
      *ngFor="let product of products" [class.deleted-product]="product.isDeleted">
      <div class="product-o product-o--hover-on product-o--radius">
        <div class="product-o__wrap">
          <a class="aspect aspect--bg-grey aspect--square u-d-block">
            <img class="aspect__img" [src]="product.images[0]" alt="image" /></a>
          <div class="product-o__action-wrap">
            <ul class="product-o__action-list">
              <li (click)="openEditProductPopup(product)">
                <a><i class="fa-solid fa-pen-to-square"></i></a>
              </li>
              <li (click)="deleteProduct(product)">
                <a><i class="fa-solid fa-trash"></i></a>
              </li>
              <li (click)="gotoProductDetails(product._id)">
                <a><i class="fa-solid fa-circle-info"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <span class="product-o__category">{{
          product.category.nameCategory
          }}</span>

        <span class="product-o__name title">{{ product.title }}</span>
        <div class="product-o__rating gl-rating-style">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star-half-alt"></i>

          <span class="product-o__review">(23)</span>
        </div>


        <span class="product-o__price"
              >EGP {{product.price - (product.price * (product.discount/100))  }}

              <span class="product-o__discount">{{
                product.price
              }}</span></span
            >
      </div>
    </div>
  </div>

  <nav *ngIf="!isLoading"
    aria-label="Page navigation example"
    style="bottom: 0; left: 0; right: 0"
  >
    <ul class="pagination justify-content-center">
      <li class="page-item" *ngIf="selectedPage > 1" style="cursor: pointer">
        <a class="page-link" (click)="prevPage(selectedPage)" aria-label="Previous" style="color: #ff4500">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" style="color: #ff4500">{{ selectedPage }}</a>
      </li>
      <li class="page-item" *ngIf="selectedPage < pages.length" style="cursor: pointer">
        <a class="page-link" (click)="nextPage(selectedPage)" aria-label="Next" style="color: #ff4500">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="d-flex justify-content-between align-items-center" *ngIf="isLoading">

<div>
  <ngx-skeleton-loader count="1" appearance="line" [theme]="{width:'150px',height:'50px'}"></ngx-skeleton-loader>
</div>

<div class="d-flex justify-content-evenly align-items-center" *ngIf="isLoading">
  <div class="p-2 bg-light rounded" style="width: 25%">
    <ngx-skeleton-loader appearance="circle" class="px-5" [theme]="{
        width: '100px',
        height: '100px',
      }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" appearance="line"></ngx-skeleton-loader>
  </div>

  <div class="p-2 bg-light rounded" style="width: 25%" *ngIf="isLoading">
    <ngx-skeleton-loader appearance="circle" class="px-5" [theme]="{
        width: '100px',
        height: '100px',
      }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" appearance="line"></ngx-skeleton-loader>
  </div>

  <div class="p-2 bg-light rounded" style="width: 25%" *ngIf="isLoading">
    <ngx-skeleton-loader appearance="circle" class="px-5" [theme]="{
        width: '100px',
        height: '100px',
      }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" appearance="line"></ngx-skeleton-loader>
  </div>
</div>
