.divReview {
    display: flex;
    justify-content: space-between;
}
.divReview a {
    cursor: pointer;
    color: #ff4500;
    text-decoration: none;
}
fa-icon {
    cursor: pointer;
}
.add,.update {
    background-color:orangered;
    border: none;
    color: white;
    width: 20%;
    padding: 5px;
}
.update {
    width: 10%;

}