<div class="container mt-5">
  <p style="text-decoration: underline;">Reviews({{ reviews.length }})</p>
</div>
<div class="container">

  <div class="col-md-10">
    <div class="" *ngFor="let review of reviews">
      <h5 class="card-title py-3">
        {{ review.title }}
      </h5>
      <span class="card-text py-3">
        {{ review.comment }}
      </span>
      <div class="py-3">
        <span>By <span style="font-weight: bold">{{review.user.name}}</span></span>
        <span class="mx-3" style="color: #ff4500">|</span>
        <span>{{ review.dateOfReview | date : "M/d/yyyy" }}</span>
      </div>

      <div class="divReview" *ngFor="let iconReview of iconReviews ; let i = index">
        <p class="py-3">
          Was this review helpful to you
          <span class="mx-3">
            <fa-icon [icon]="faThumbsUp" (click)="increaeCount(i)"></fa-icon>
            {{iconReview.count}}
            <span class="mx-4"><fa-icon [icon]="faThumbsDown" (click)="descreaseCount(i)"></fa-icon>
              {{iconReview.countTwo}}
            </span>
          </span>
        </p>
        <a (click)="onRemoveReview(review.user._id, review.product)" class="py-3"
          *ngIf="isReviewed.reviewId === review._id">Remove</a>
      </div>

      <hr />
    </div>
  </div>
</div>
<div class="container" *ngIf="!isReviewed.isReviewed">
  <div class="col-md-10 my-4">
    <button class="add rounded  " (click)="show()">Wrire Review</button>

  </div>
</div>

<div class="container mb-5" *ngIf="showForm">
  <form [formGroup]="reviewForm" (ngSubmit)="addNewReview()" *ngIf="!isReviewed.isReviewed">
    <div class="mb-3 col-md-6">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="titleHelp"
        formControlName="title" placeholder="Title">
      <div id="titleHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3 col-md-6 ">
      <textarea formControlName="comment" placeholder="Enter Your Comment" class="form-control py-3"></textarea>
    </div>
    <button type="submit" class="btn rounded update my-4" [disabled]="!reviewForm.valid">{{'Add'}}</button>
  </form>
</div>
