.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  max-width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainbody {
  width: 65%;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
}

.icon {
  color: #ff4500;
  font-size: 20px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 5px;
}

.button {
  background-color: #ff4500;
  border: 1px solid #ff4500;
  border-radius: 5px;
  color: #fff;
  padding: 5px 20px;
  font-weight: 600;
  margin-top: 5px;
  cursor: pointer;
}
.button:hover {
  border: 1px solid #ff4500;
  background-color: #fff;
  color: #ff4500;
}

.error {
  font-size: 13px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px 10px;
  margin: 6px 0px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.label::after {
  content: "*";
  color: #ff4500;
  position: relative;
  top: 2px;
  left: 2px;
}

.hidenFiles {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 150px;
}

.hidenFiles input[type="file"] {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}

.hidenFiles label {
  background-color: #ff4500;
  border: 1px solid #ff4500;
  border-radius: 5px;
  color: #fff;
  padding: 5px 32px;
  font-weight: 600;
  margin-top: 5px;
  cursor: pointer;
}

.hidenFiles label:hover {
  border: 1px solid #ff4500;
  background-color: #fff;
  color: #ff4500;
}
