<div id="cardPading" class="container d-flex justify-content-center align-items-start mt-5">
  <div class="card m-3" style="width: 18rem">
    <div class="card-body">

      <div class="d-flex justify-content-center m-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
          class="bi bi-telephone-forward-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm10.761.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708" />
        </svg>
      </div>

      <h6 class="text-muted text-center m-3">LET'S HAVE A CALL</h6>
      <div class="d-flex justify-content-center">
        <small style="color: rgb(133, 131, 131)">(+0) 900 901 904 </small>
      </div>
      <div class="d-flex justify-content-center">
        <small style="color: rgb(133, 131, 131)">(+0) 900 901 902 </small>
      </div>
    </div>
  </div>

  <div class="card m-3" style="width: 18rem">
    <div class="card-body">

      <div class="d-flex justify-content-center m-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-geo-alt-fill"
          viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
        </svg>
      </div>

      <h6 class="text-muted text-center m-3">OUR LOCATION</h6>
      <div class="text-center">
        <small style="color: rgb(133, 131, 131)">4247 Ashford Drive VA-20006 Virginia US</small>
      </div>
    </div>
  </div>

  <div class="card m-3" style="width: 18rem">
    <div class="card-body">

      <div class="d-flex justify-content-center m-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-clock"
          viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
        </svg>
      </div>
      
      <h6 class="text-muted text-center m-3">WORK TIME</h6>
      <div class="text-center">
        <small style="color: rgb(133, 131, 131)">5 Days a Week From 9 AM to 7 PM Close on Fri and Sat</small>
      </div>
    </div>
  </div>
</div>

<div id="formPading" class="container">
  <h2>Get In Touch</h2>
  <div class="border border-light">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="exampleFormControlInput1"></label>
          <input type="email" class="form-control" id="Name(require)" placeholder="Name(require)">

          <label for="exampleFormControlInput1"></label>
          <input type="email" class="form-control" id="Name(require)" placeholder="Email(require)">

          <label for="exampleFormControlInput1"></label>
          <input type="email" class="form-control" id="Name(require)" placeholder="Subject(require)">
        </div>


        <div class="col">
          <label for="exampleFormControlTextarea1"></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
            placeholder="Compose a Message (Required)"></textarea>
        </div>
      </div>
      <button type="button" id="button2" class="mt-3">Send Message</button>
    </div>
  </div>
</div>