<ul class="list-group">
  <li class="list-group-item" routerLink="/admin/homedashboard" routerLinkActive="active">
    Home
  </li>
  <li class="list-group-item" routerLink="/admin/users" routerLinkActive="active">
    Users
  </li>
  <li class="list-group-item" routerLink="/admin/products" routerLinkActive="active">
    <a>Products</a>
  </li>
  <li class="list-group-item" routerLink="/admin/categories" routerLinkActive="active">
    <a>Category</a>
  </li>
  <li class="list-group-item" routerLink="/admin/orders" routerLinkActive="active">
    Orders
  </li>
  <li class="list-group-item" routerLinkActive="active" (click)="logOut()">
    Logout
  </li>
</ul>