<footer class="text-center text-lg-start text-secondary  bottom-0 foot " >
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start pt-4 pb-4">
      <!-- Grid row -->
      <div class="row mt-3 ">
        
        <!-- <div class="col-12 col-lg-3 col-sm-12 mb-2">
         
          <a href="https://mdbootstrap.com/" target="_blank" class="">
            <img src="https://th.bing.com/th/id/R.49346454c6c44e6b885f5e39afbb877b?rik=fvlRg8JDjsHTPA&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fjcx%2fLXp%2fjcxLXprai.png&ehk=Lc5rvfUMX9aE3MlCzaRiqgzcL6juOCY0WzKg0S1EhUQ%3d&risl=&pid=ImgRaw&r=0" width="55" />
          </a>
          <p class="mt-2 text-white">
            © 2023 Copyright: Angular Team
          </p>
        </div> -->


        <div class="row d-flex flex-column">
          <div class="col-12 d-flex justify-content-center align-items-center m-2">
            <div class="px-3"><a href="https://www.facebook.com/mariam.elmsery?mibextid=kFxxJD" class=" text-light text" ><i class="fa-brands fa-facebook"></i></a></div>
            <div class="px-3"><a href="https://twitter.com/" class=" text-light text" ><i class="fa-brands fa-twitter"></i></a></div>
            <div class="px-3"><a href="https://www.linkedin.com/in/mariam-el-msery-82aa13254" class=" text-light text"><i class="fa-brands fa-linkedin"></i></a></div>
            <div class="px-3"><a href="https://instagram.com/" class=" text-light text"><i class="fa-brands fa-instagram"></i></a></div>
            

          </div>
          <div class="col-12 d-flex justify-content-center align-items-center m-2">
            <div class="px-3 "> <a class=" text-light" routerLink="/home">Home</a></div>
            <div class="px-3"> <a class=" text-light " routerLink="/about">About</a></div>
            <div class="px-3"><a class=" text-light " routerLink="/contactUs">Contact Us</a></div>
            <div class="px-3"><a class=" text-light " href="about#team">Team</a></div>
           </div>
        </div>

       
      
        

      
       
      </div>
    
    </div>
  </section>
  <!-- Section: Links  -->

  <div class="">
    <div class="container">
      <div class="d-flex justify-content-between py-4 border-top">
        <!--- payment --->
        <div>
          <i class="fab fa-lg fa-cc-visa text-white p-2"></i>
          <i class="fab fa-lg fa-cc-amex text-white p-2"></i>
          <i class="fab fa-lg fa-cc-mastercard text-white p-2"></i>
          <i class="fab fa-lg fa-cc-paypal text-white p-2"></i>
        </div>
        <!--- payment --->

       
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
