.foot {
  left: 0;
  right: 0;
  background-color: black;
}

.lnk:hover{
    color: orangered;
}
.text{
    font-size: 20px;
}

.btn {
  background-color: orangered;
  color: whitesmoke;
  width: 100px;
  left: 65%;
  height: 45px;
  bottom: -4px;
}
a {
  text-decoration: none;
}